*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
header{
    display: flex;
    flex-direction: row;
    background-color: black;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Box---logomenu{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.Linklogomenu{
    display: flex;
    align-items: center;
    width: 200px;
    padding: 20px 40px;
    
}
.logo{
    width: 200px;

}
.Menulist{
    display: flex;
    flex direction: flex;
    align-items: center;
}
.link{
    margin: 0 5px;
    padding: 5px ;
}
.textmenu{
    color: white;
    font-size: 16px;
}